</main>


<footer>
    <p>Happy Travels</p>
    <div class="airplanes">
        <div class="airplane" id="airplane1"></div>
        <div class="train" id="train1"></div>
    </div>
</footer>



</html>